USE [db_nusee]
GO
/****** Object:  Table [dbo].[bill_imports]    Script Date: 4/3/2023 11:49:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill_imports](
	[bill_imports_id] [int] IDENTITY(1,1) NOT NULL,
	[bill_imports_distributor_id] [int] NULL,
	[bill_imports_staff_id] [int] NULL,
	[bill_imports_date] [date] NULL,
	[bill_imports_total_payment] [float] NULL,
	[bill_imports_payments] [nvarchar](100) NULL,
	[bill_imports_note] [nvarchar](200) NULL,
	[bill_imports_date_created] [smalldatetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bill_imports_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bill_imports_details]    Script Date: 4/3/2023 11:49:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill_imports_details](
	[imports_details_id] [int] IDENTITY(1,1) NOT NULL,
	[imports_details_imports_id] [int] NULL,
	[imports_details_product_id] [int] NULL,
	[imports_details_product_quantity] [int] NULL,
	[imports_details_product_unit] [nvarchar](200) NULL,
	[imports_details_date_created] [smalldatetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[imports_details_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bill_sales]    Script Date: 4/3/2023 11:49:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill_sales](
	[bill_sales_id] [int] IDENTITY(1,1) NOT NULL,
	[bill_sales_customer_id] [int] NULL,
	[bill_sales_staff_id] [int] NULL,
	[bill_sales_date_order] [date] NULL,
	[bill_sales_total_payment] [float] NULL,
	[bill_sales_payments] [nvarchar](100) NULL,
	[bill_sales__note] [nvarchar](200) NULL,
	[bill_sales_date_created] [smalldatetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bill_sales_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bill_sales_details]    Script Date: 4/3/2023 11:49:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill_sales_details](
	[sales_details_id] [int] IDENTITY(1,1) NOT NULL,
	[sales_details_sales_id] [int] NULL,
	[sales_details_product_id] [int] NULL,
	[sales_details_product_quantity] [int] NULL,
	[sales_details_product_sale] [float] NULL,
	[sales_details_date_created] [smalldatetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sales_details_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 4/3/2023 11:49:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[cate_id] [int] IDENTITY(1,1) NOT NULL,
	[cate_name] [nvarchar](500) NOT NULL,
	[cate_img] [ntext] NULL,
	[cate_note] [nvarchar](500) NULL,
	[cate_date_created] [smalldatetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 4/3/2023 11:49:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_name] [nvarchar](200) NOT NULL,
	[customer_address] [ntext] NOT NULL,
	[customer_phone] [varchar](10) NOT NULL,
	[customer_mail] [varchar](100) NULL,
	[customer_note] [ntext] NULL,
	[customer_date_created] [smalldatetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[distributor]    Script Date: 4/3/2023 11:49:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[distributor](
	[distributor_id] [int] IDENTITY(1,1) NOT NULL,
	[distributor_name] [nvarchar](500) NOT NULL,
	[distributor_address] [nvarchar](500) NULL,
	[distributor_phone] [varchar](10) NULL,
	[distributor_mail] [varchar](255) NULL,
	[distributor_note] [ntext] NULL,
	[distributor_date_created] [smalldatetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[distributor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 4/3/2023 11:49:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_cate_id] [int] NULL,
	[product_distributor_id] [int] NULL,
	[product_name] [nvarchar](800) NOT NULL,
	[product_img] [ntext] NULL,
	[product_price] [float] NULL,
	[product_sale] [float] NULL,
	[product_quantity] [int] NULL,
	[product_unit] [nvarchar](200) NULL,
	[product_note] [nvarchar](max) NULL,
	[product_date_created] [smalldatetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[slide]    Script Date: 4/3/2023 11:49:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[slide](
	[slide_id] [int] IDENTITY(1,1) NOT NULL,
	[slide_staff_id] [int] NULL,
	[slide_img] [ntext] NULL,
	[slide_link] [ntext] NULL,
	[slide_note] [nvarchar](200) NULL,
	[slide_date_created] [smalldatetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[slide_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staff]    Script Date: 4/3/2023 11:49:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff](
	[staff_id] [int] IDENTITY(1,1) NOT NULL,
	[staff_name] [nvarchar](200) NOT NULL,
	[staff_dateofbirth] [date] NOT NULL,
	[staff_address] [nvarchar](400) NOT NULL,
	[staff_phone] [varchar](10) NOT NULL,
	[staff_mail] [varchar](100) NULL,
	[staff_sex] [nvarchar](10) NOT NULL,
	[staff_levels] [nvarchar](100) NOT NULL,
	[staff_note] [ntext] NULL,
	[staff_date_created] [smalldatetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 4/3/2023 11:49:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[users_id] [int] IDENTITY(1,1) NOT NULL,
	[users_full_name] [nvarchar](100) NULL,
	[users_name] [varchar](50) NOT NULL,
	[users_password] [varchar](100) NOT NULL,
	[users_mail] [varchar](100) NOT NULL,
	[users_phone] [varchar](10) NOT NULL,
	[users_token] [varchar](max) NULL,
	[users_role] [nvarchar](50) NULL,
	[users_status] [nvarchar](100) NULL,
	[users_note] [nvarchar](100) NULL,
	[users_date_created] [smalldatetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[users_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([cate_id], [cate_name], [cate_img], [cate_note], [cate_date_created]) VALUES (1, N'Tiểu thuyết', N'img1.png', N'ảnh mẫu loại sản phẩm 1', CAST(N'2023-04-02T19:54:00' AS SmallDateTime))
INSERT [dbo].[category] ([cate_id], [cate_name], [cate_img], [cate_note], [cate_date_created]) VALUES (2, N'Sách', N'img2.png', N'ảnh mẫu loại sản phẩm 2', CAST(N'2023-04-02T19:54:00' AS SmallDateTime))
INSERT [dbo].[category] ([cate_id], [cate_name], [cate_img], [cate_note], [cate_date_created]) VALUES (3, N'Truyện tranh', N'img3.png', N'ảnh mẫu loại sản phẩm 3', CAST(N'2023-04-02T19:54:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[category] OFF
GO
SET IDENTITY_INSERT [dbo].[customer] ON 

INSERT [dbo].[customer] ([customer_id], [customer_name], [customer_address], [customer_phone], [customer_mail], [customer_note], [customer_date_created]) VALUES (1, N'Trần Ngọc Tú', N'Trung Hưng-Yên Mỹ-Hưng Yên', N'0372082758', N'trantu143444@gmail.com', N'Khách hàng 1', CAST(N'2023-04-02T19:54:00' AS SmallDateTime))
INSERT [dbo].[customer] ([customer_id], [customer_name], [customer_address], [customer_phone], [customer_mail], [customer_note], [customer_date_created]) VALUES (2, N'Phan Hải An', N'Trung Hoà-Yên Mỹ-Hưng Yên', N'0859721391', N'phanan1@gmail.com', N'Khách hàng 2', CAST(N'2023-04-02T19:54:00' AS SmallDateTime))
INSERT [dbo].[customer] ([customer_id], [customer_name], [customer_address], [customer_phone], [customer_mail], [customer_note], [customer_date_created]) VALUES (3, N'Nguyễn Thị Dung', N'Tân Lập-Yên Mỹ-Hưng Yên', N'0981736310', N'nguyendung2@gmail.com', N'Khách hàng 3', CAST(N'2023-04-02T19:54:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[customer] OFF
GO
SET IDENTITY_INSERT [dbo].[distributor] ON 

INSERT [dbo].[distributor] ([distributor_id], [distributor_name], [distributor_address], [distributor_phone], [distributor_mail], [distributor_note], [distributor_date_created]) VALUES (1, N'Nhà cung cấp Hoàng Việc', N'Trung Hoà-Yên Mỹ-Hưng Yên', N'0368259165', N'duongvuhoangviec@gmail.com', N'Nhà cung cấp vjp 1', CAST(N'2023-04-02T19:54:00' AS SmallDateTime))
INSERT [dbo].[distributor] ([distributor_id], [distributor_name], [distributor_address], [distributor_phone], [distributor_mail], [distributor_note], [distributor_date_created]) VALUES (2, N'Nhà cung cấp Nguyễn Thắng', N'Thị Trấn Yên Mỹ-Yên Mỹ-Hưng Yên', N'0353927164', N'nguyentrananhthang@gmail.com', N'Nhà cung cấp vjp 2', CAST(N'2023-04-02T19:54:00' AS SmallDateTime))
INSERT [dbo].[distributor] ([distributor_id], [distributor_name], [distributor_address], [distributor_phone], [distributor_mail], [distributor_note], [distributor_date_created]) VALUES (3, N'Nhà cung cấp Đăng Thắng', N'Liêu Xá-Yên Mỹ-Hưng Yên', N'0334821905', N'vudangthang@gmail.com', N'Nhà cung cấp vjp 3', CAST(N'2023-04-02T19:54:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[distributor] OFF
GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([product_id], [product_cate_id], [product_distributor_id], [product_name], [product_img], [product_price], [product_sale], [product_quantity], [product_unit], [product_note], [product_date_created]) VALUES (1, 1, 1, N'Tiểu thuyết 123', N'product-1.jpg', 549000, 500000, 23, N'Quyển', N'ghi chú sản phẩm 1', CAST(N'2023-04-02T19:54:00' AS SmallDateTime))
INSERT [dbo].[product] ([product_id], [product_cate_id], [product_distributor_id], [product_name], [product_img], [product_price], [product_sale], [product_quantity], [product_unit], [product_note], [product_date_created]) VALUES (2, 2, 2, N'Sách 6763', N'product-2.jpg', 455000, 420000, 33, N'Quyển', N'ghi chú sản phẩm 2', CAST(N'2023-04-02T19:54:00' AS SmallDateTime))
INSERT [dbo].[product] ([product_id], [product_cate_id], [product_distributor_id], [product_name], [product_img], [product_price], [product_sale], [product_quantity], [product_unit], [product_note], [product_date_created]) VALUES (3, 3, 3, N'Truyện tranh 06523', N'product-3.jpg', 399000, 355000, 45, N'Quyển', N'ghi chú sản phẩm 3', CAST(N'2023-04-02T19:54:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[product] OFF
GO
SET IDENTITY_INSERT [dbo].[slide] ON 

INSERT [dbo].[slide] ([slide_id], [slide_staff_id], [slide_img], [slide_link], [slide_note], [slide_date_created]) VALUES (1, 6, N'col_hori_img.webp', NULL, N'ảnh slide 1', CAST(N'2023-04-02T19:54:00' AS SmallDateTime))
INSERT [dbo].[slide] ([slide_id], [slide_staff_id], [slide_img], [slide_link], [slide_note], [slide_date_created]) VALUES (2, 7, N'hhori_img2.webp', NULL, N'ảnh slide 2', CAST(N'2023-04-02T19:54:00' AS SmallDateTime))
INSERT [dbo].[slide] ([slide_id], [slide_staff_id], [slide_img], [slide_link], [slide_note], [slide_date_created]) VALUES (3, 8, N'ms_banner_img3.webp', NULL, N'ảnh slide 3', CAST(N'2023-04-02T19:54:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[slide] OFF
GO
SET IDENTITY_INSERT [dbo].[staff] ON 

INSERT [dbo].[staff] ([staff_id], [staff_name], [staff_dateofbirth], [staff_address], [staff_phone], [staff_mail], [staff_sex], [staff_levels], [staff_note], [staff_date_created]) VALUES (1, N'Lưu Thị Bích', CAST(N'2001-08-06' AS Date), N'Liêu Xá-Yên Mỹ-Hưng Yên', N'0369005706', N'luubich1@gmail.com', N'Nữ', N'Nhân Viên bán hàng', N'Nhân viên 1', CAST(N'2023-04-02T19:54:00' AS SmallDateTime))
INSERT [dbo].[staff] ([staff_id], [staff_name], [staff_dateofbirth], [staff_address], [staff_phone], [staff_mail], [staff_sex], [staff_levels], [staff_note], [staff_date_created]) VALUES (2, N'Lưu Thị Hoa', CAST(N'2001-03-11' AS Date), N'Liêu Xá-Yên Mỹ-Hưng Yên', N'0372726342', N'luuhoa2@gmail.com', N'Nữ', N'Nhân Viên bán hàng', N'Nhân viên 2', CAST(N'2023-04-02T19:54:00' AS SmallDateTime))
INSERT [dbo].[staff] ([staff_id], [staff_name], [staff_dateofbirth], [staff_address], [staff_phone], [staff_mail], [staff_sex], [staff_levels], [staff_note], [staff_date_created]) VALUES (3, N'Đinh Tiến Hợp', CAST(N'2001-06-24' AS Date), N'Trung Hoà-Yên Mỹ-Hưng Yên', N'0353804452', N'dinhhop423@gmail.com', N'Nam', N'Nhân Viên bán hàng', N'Nhân viên 3', CAST(N'2023-04-02T19:54:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[staff] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([users_id], [users_full_name], [users_name], [users_password], [users_mail], [users_phone], [users_token], [users_role], [users_status], [users_note], [users_date_created]) VALUES (1, N'Hoàng Việt', N'hoangviet', N'123', N'trantu143444@gmail.com', N'0372082758', N'', N'admin', N'Hoạt Động', N'Tài khoản 1', CAST(N'2023-04-02T19:54:00' AS SmallDateTime))
INSERT [dbo].[users] ([users_id], [users_full_name], [users_name], [users_password], [users_mail], [users_phone], [users_token], [users_role], [users_status], [users_note], [users_date_created]) VALUES (2, N'Nguyễn Thị Ngọc', N'nguyenngoc1', N'nguyenngoc1', N'nguyenngoc1@gmail.com', N'0397395635', N'', N'user', N'Hoạt Động', N'Tài khoản 2', CAST(N'2023-04-02T19:54:00' AS SmallDateTime))
INSERT [dbo].[users] ([users_id], [users_full_name], [users_name], [users_password], [users_mail], [users_phone], [users_token], [users_role], [users_status], [users_note], [users_date_created]) VALUES (3, N'Phạm Minh Châu', N'phamchau2', N'phamchau2', N'phamchau2@gmail.com', N'0922382086', N'', N'user', N'Hoạt Động', N'Tài khoản 3', CAST(N'2023-04-02T19:54:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[bill_imports] ADD  DEFAULT (getdate()) FOR [bill_imports_date_created]
GO
ALTER TABLE [dbo].[bill_imports_details] ADD  DEFAULT (getdate()) FOR [imports_details_date_created]
GO
ALTER TABLE [dbo].[bill_sales] ADD  DEFAULT (getdate()) FOR [bill_sales_date_created]
GO
ALTER TABLE [dbo].[bill_sales_details] ADD  DEFAULT (getdate()) FOR [sales_details_date_created]
GO
ALTER TABLE [dbo].[category] ADD  DEFAULT (getdate()) FOR [cate_date_created]
GO
ALTER TABLE [dbo].[customer] ADD  DEFAULT (getdate()) FOR [customer_date_created]
GO
ALTER TABLE [dbo].[distributor] ADD  DEFAULT (getdate()) FOR [distributor_date_created]
GO
ALTER TABLE [dbo].[product] ADD  DEFAULT (getdate()) FOR [product_date_created]
GO
ALTER TABLE [dbo].[slide] ADD  DEFAULT (getdate()) FOR [slide_date_created]
GO
ALTER TABLE [dbo].[staff] ADD  DEFAULT (getdate()) FOR [staff_date_created]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('user') FOR [users_role]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (N'Hoạt Động') FOR [users_status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [users_date_created]
GO
ALTER TABLE [dbo].[bill_imports]  WITH CHECK ADD FOREIGN KEY([bill_imports_distributor_id])
REFERENCES [dbo].[distributor] ([distributor_id])
GO
ALTER TABLE [dbo].[bill_imports]  WITH CHECK ADD FOREIGN KEY([bill_imports_staff_id])
REFERENCES [dbo].[staff] ([staff_id])
GO
ALTER TABLE [dbo].[bill_imports_details]  WITH CHECK ADD FOREIGN KEY([imports_details_imports_id])
REFERENCES [dbo].[bill_imports] ([bill_imports_id])
GO
ALTER TABLE [dbo].[bill_imports_details]  WITH CHECK ADD FOREIGN KEY([imports_details_product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[bill_sales]  WITH CHECK ADD FOREIGN KEY([bill_sales_customer_id])
REFERENCES [dbo].[customer] ([customer_id])
GO
ALTER TABLE [dbo].[bill_sales]  WITH CHECK ADD FOREIGN KEY([bill_sales_staff_id])
REFERENCES [dbo].[staff] ([staff_id])
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD FOREIGN KEY([product_cate_id])
REFERENCES [dbo].[category] ([cate_id])
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD FOREIGN KEY([product_distributor_id])
REFERENCES [dbo].[distributor] ([distributor_id])
GO
ALTER TABLE [dbo].[slide]  WITH CHECK ADD FOREIGN KEY([slide_staff_id])
REFERENCES [dbo].[staff] ([staff_id])
GO
